{
  "http-basic": {
    "repo.magento.com": {
      "username": "$REPO_MAGENTO_COM_USERNAME",
      "password": "$REPO_MAGENTO_COM_PASSWORD"
    }
  },
  "github.com": {
    "username": "$GITHUB_USERNAME",
    "password": "$GITHUB_TOKEN_AUTHENTICATION"
  }
}
