{
    "http-basic": {
        "repo.magento.com": {
            "username": "$REPO_MAGENTO_COM_USERNAME",
            "password": "$REPO_MAGENTO_COM_PASSWORD"
        },
        "composer.amasty.com": {
            "username": "$COMPOSER_AMASTY_USERNAME",
            "password": "$COMPOSER_AMASTY_PASSWORD"
        }
    },
    "github.com": {
        "username": "$GITHUB_USERNAME",
        "password": "$GITHUB_TOKEN_AUTHENTICATION"
    },
    "github-oauth": {
        "github.com": "$GITHUB_TOKEN_AUTHENTICATION"
    }
}
